.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.yes {
    background-color: purple;
    color: white;
}

.no {
    background-color: red;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
