body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffebf0;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin-top: 50px;
    position: relative; /* Permet aux éléments absolus à l'intérieur de se positionner correctement */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    font-size: 24px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.yes {
    background-color: #ff4d6d;
    color: white;
}

.no {
    background-color: #ccc;
    color: black;
    position: absolute;
    position: absolute; /* Indispensable pour que le bouton bouge */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


